# /node_modules/* and /bower_components/* in the project root are ignored by default

# Ignore built files except build/index.js
dist/*
!dist/index.js
src/vendor.js
README.md
src/index2.js
src/index3.js